# =========================
# Environments
# =========================
venv/
.env/

# =========================
# Python cache
# =========================
__pycache__/
*.pyc
*.pyo

# =========================
# OS files
# =========================
.DS_Store

# =========================
# ML Models (IMPORTANT)
# =========================
models/
*.pkl
*.keras
*.h5

# =========================
# Datasets (NO subir data cruda)
# =========================
docs/data/
docs/data/datos/
docs/data/processed/

# =========================
# Training outputs
# =========================
outputs/
logs/

# =========================
# Kaggle
# =========================
.kaggle/

# =========================
# DVC
# =========================
.dvc/cache/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# IDE
# =========================
.vscode/