# Entornos virtuales
venv/
.env/

# Python
__pycache__/
*.pyc
*.pyo

# OS
.DS_Store

# Modelos y datasets procesados
*.pkl

# Kaggle credentials
#kaggle.json
.kaggle/

# Datos descargados
docs/data/datos/
docs/data/processed/

# DVC cache
.dvc/cache/

# Jupyter
.ipynb_checkpoints/

# VSCode
.vscode/

# Logs
*.log