# =========================
# Environments
# =========================
venv/
.env/

# =========================
# Python cache
# =========================
__pycache__/
*.pyc
*.pyo

# =========================
# OS files
# =========================
.DS_Store

# =========================
# ML Models
# =========================
models/
*.pkl
*.keras
*.h5

# =========================
# Datasets
# =========================
docs/data/datos/
docs/data/processed/

# =========================
# Training outputs
# =========================
outputs/
logs/

# =========================
# Kaggle
# =========================
.kaggle/
kaggle.json

# =========================
# DVC
# =========================
.dvc/cache/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# IDE
# =========================
.vscode/
.idea/